# Automatically created by: scrapy startproject
#
# For more information about the [deploy] section see:
# https://scrapyd.readthedocs.io/en/latest/deploy.html

[settings]
default = AI.settings
ITEM_PIPELINES = {"AI.pipelines.AiPipeline":300｝

[deploy]
#url = http://localhost:6800/
project = AI
